.headerContainer{
    color: white;
    display: flex;
    align-items: center;
}

.headerContainer img{
    height: 1.5em;
    margin-right: 1em;
}

.headerContainer h1{
    font-weight: lighter;
}

.headerContainer button{
    background: transparent;
    border: none;
}

.shiftRight{
    margin-left: auto;
}